.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 28px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.left {
  margin: 10px 0 0 10px;
  text-align: left;
}

/* Board */
.board-container {
  float: left;
  margin-bottom: 20px;
  height: 850px;
  width: 800px;
}

.reset-btn {
  margin-top: 10px;
  font-size: 1.5em;
  border-radius: 3px;
  background-color: lightskyblue;
}

.board {
  float: left;
  width: 800px;
  height: 800px;
  border: 5px black solid;
  display: flex;
  flex-flow: row wrap;
}

.space {
  width: 98px;
  height: 98px;
  border: 1px black solid;
}

.light {
  background-color: lightskyblue;
}

.dark {
  background-color: darkorange;
}

.selected {
  background-color: lime;
}

.nameDiv {
  position: relative;
  width: 95px;
  height: 98px;
}

p.spaceName {
  font-size: 0.5em;
  width: 100%;
  margin: 0;
  padding: 88px 5px 0 0;
  text-align: right;
}

/* Animations */
.knightwhite {
  background: center / contain no-repeat url("./images/knight_white.png");
  animation: 1s fadeIn;
}

.bishopwhite {
  background: center / contain no-repeat url("./images/bishop_white.png");
  animation: 1s fadeIn;
}

.flashError {
  animation: 0.1s ease-in 0s 3 reverse flashErr;
}

.flashSuccess {
  animation: 0.1s 3 reverse flashYes
}

/* fade-in animation for chess pieces */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* animation to flash for error */
@keyframes flashErr {
  from { background-color: red; }
  to { background-color: transparent; }
}

/* animation to flash for successful move */
@keyframes flashYes {
  from { background-color: lime; }
  to { background-color: transparent; }
}


/* Right side of the page */
.right {
  height: 810px;
  margin-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* History section */
.history {
  width: 500px;
  height: 600px;
  border: 5px black solid;
}

.history-title {
  border-bottom: 3px black solid;
  margin-bottom: 0px;
}

.movesContainer {
  height: 549px;
  width: 500px;
  overflow: scroll;
}


/* Messages section */
.messages {
  width: 500px;
  height: 100px;
  border: 5px black solid;
  font-size: 1.5em;
}