.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}


/* Board */
.board {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 800px;
  height: 800px;
  border: 5px black solid;
  display: flex;
  flex-flow: row wrap;
}

.space {
  width: 98px;
  height: 98px;
  border: 1px black solid;
}

.selected {
  background-color: lime;
}