.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}


/* Board */
.board {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 800px;
  height: 800px;
  border: 5px black solid;
  display: flex;
  flex-flow: row wrap;
}

.space {
  width: 98px;
  height: 98px;
  border: 1px black solid;
}

.light {
  background-color: lightskyblue;
}

.dark {
  background-color: darkorange;
}

.selected {
  background-color: lime;
}

.knightwhite {
  background: center / contain no-repeat url("./images/knight_white.png");
  animation: 1s fadeIn;
}

.bishopwhite {
  background: center / contain no-repeat url("./images/bishop_white.png");
  animation: 1s fadeIn;
}

.nameDiv {
  position: relative;
  width: 95px;
  height: 98px;
}

p.spaceName {
  font-size: 0.5em;
  width: 100%;
  margin: 0;
  padding: 88px 5px 0 0;
  text-align: right;
}

/* fade-in animation for chess pieces */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}